<h1>Edit A Band</h1>

<form action="<%= band_url(@band) %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">

    <label for="name">Band Name</label>
    <input type="text" id="name" name="band[name]" value="<%= @band.name %>">
    
    <input type="submit" value="Edit Band">

</form>